.profile {
  margin: 50px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 3px rgba(101, 101, 101, 0.1),
    0 -2px 3px rgba(101, 101, 101, 0.1), 2px 0 3px rgba(101, 101, 101, 0.1),
    -2px 0 3px rgba(101, 101, 101, 0.1);
  border-radius: 5px;
}

.description {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.name {
  margin-bottom: 10px;
  font-size: larger;
  font-weight: 600;
}

.tag {
  margin-bottom: 10px;
  color: #a1abb6;
}

.location {
  color: #a1abb6;
}

.stats {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f3f6f9;
  border-top: 1px solid #e4e9f0;
  border-radius: 0 0 5px 5px;
}

.stats li:not(:last-child) {
  border-right: 1px solid #e4e9f0;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: calc(100% / 3);
}

.label {
  font-size: smaller;
  color: #a1abb6;
}
.quantity {
  font-weight: 700;
}
